@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @foreach (var item in @ViewBag.listaClientes)
    {
        <div>@item.Id</div>
        <div>@item.Nome</div>
        <div>@item.Cpf</div>
        <div>@item.Email</div>
        <div>@item.Paciente</div>
    }

    @foreach (var item in @ViewBag.listaFornecedores)
    {
        <div>@item.Id</div>
        <div>@item.Nome</div>
        <div>@item.Cnpj</div>
        <div>@item.Email</div>
    }

</div>